---
- name: Homeserver playbook
  hosts: all
  become: true

  vars:
    server_user: matteo

  vars_files:
    - vars/wireguard.yml
    - vars/wireguard_private.yml
    - vars/immich.yml

  handlers:
    - name: Restart minidlna
      ansible.builtin.systemd:
        name: minidlna.service
        state: restarted

    - name: Reload systemd and restart rtcwake timer
      ansible.builtin.systemd:
        name: rtcwake.timer
        daemon_reload: true
        state: restarted

  tasks:
    - name: Ensure that ZFS is set up correctly
      ansible.builtin.import_tasks: tasks/zfs.yml
    - name: Setup wireguard
      ansible.builtin.import_tasks: tasks/wireguard.yml
    - name: Ensure that Docker is installed
      ansible.builtin.import_tasks: tasks/docker.yml
    - name: Deploy Immich
      ansible.builtin.import_tasks: tasks/immich.yml
    - name: Setup rtcwake
      ansible.builtin.import_tasks: tasks/rtcwake.yml
    - name: Setup NFS
      ansible.builtin.import_tasks: tasks/nfs.yml
    - name: Ensure that powertop is installed and enabled
      ansible.builtin.import_tasks: tasks/powertop.yml
    - name: Ensure that minidlna is installed and enabled
      ansible.builtin.import_tasks: tasks/minidlna.yml
