- name: Ensure that zfsutils-linux is installed
  ansible.builtin.apt:
    name: zfsutils-linux
    state: present

- name: Ensure that data pool exists with correct properties
  community.general.zfs:
    name: data
    state: present
    extra_zfs_properties:
      atime: "off"
      compression: lz4
      xattr: sa
      mountpoint: /mnt/data

- name: Ensure that ZFS datasets exist
  community.general.zfs:
    name: "data/{{ item }}"
    state: present
  loop:
    - Backups
    - Documents
    - Downloads
    - Music
    - Pictures
    - Videos
