services:
  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:release
    ports:
      - "2283:2283"
    volumes:
      - /mnt/data/Pictures/Uploads:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
      - /mnt/data/Pictures:/mnt/import:ro
    env_file:
      - db.env
    restart: always
    depends_on:
      immich_database:
        condition: service_healthy
      immich_redis:
        condition: service_healthy

  immich-microservices:
    container_name: immich_microservices
    image: ghcr.io/immich-app/immich-server:release
    volumes:
      - /mnt/data/Pictures/Uploads:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
      - /mnt/data/Pictures:/mnt/import:ro
    env_file:
      - db.env
    restart: always
    depends_on:
      immich_database:
        condition: service_healthy
      immich_redis:
        condition: service_healthy

  immich-machine-learning:
    container_name: immich_machine_learning
    image: ghcr.io/immich-app/immich-machine-learning:release
    volumes:
      - /opt/immich/ml-cache:/cache
    env_file:
      - db.env
    restart: always

  immich_redis:
    container_name: immich_redis
    image: redis:6.2-alpine
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  immich_database:
    container_name: immich_database
    image: tensorchord/pgvecto-rs:pg14-v0.2.0
    env_file:
      - db.env
    volumes:
      - immich_postgres:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  immich_postgres:
  immich_upload:
